<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
        table,th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <title>Edit</title>
</head>
<body class="p-3 mb-2 bg-secondary text-white">
    <div class="container">
         <div class="container" >
        <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzxI58k2b00Z1-TEK6IE_TRFIYgFFwLp8kvGzzknojrBezrS7QmZVxDgM_oirmpRtDD_M&usqp=CAU" width="100px" height="100px"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/views/">Views</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://www.facebook.com/vuong.thanh.5891004/">contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    </div>
    <h1 class="">Update Product</h1>
    <div style="width: 40%;">
        <form action="/update" method="post">
            <input type="hidden" name="txtId" value="{{product._id}}">
            <div class="mb-3">
                <label class="form-label" for="txtName"> Product Name</label>
                <input type="text" class="form-control" name="txtName" id="txtName" value="{{product.name}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPrice"> Price</label>
                <input type="number" class="form-control" name="txtPrice" id="txtPrice" value="{{product.price}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtURL"> Picture</label>
                <input type="text" class="form-control" name="txtURL" value="{{product.url}}">
            </div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
      <hr>
    <div>
        <table class="table table-dark table-striped">
            <tr>
                <th style="width:30%">id</th>
                <th style="width:40%">Name</th>
                <th style="width:30%">Price</th>
                <th style="width:60%">Picture</th>
            </tr>
            <tr>
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><img src="{{product.picURL}}" width="300" height="200" </td>
            </tr>
        </table>
    </div>
    </div>
</body>

</html>